<% title "Log in" %>

<%= form_tag sessions_path, :class=>'aspire' do %>
  <fieldset>
  <p>
    <%= label_tag :login, "Usuario ou Email" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password, "Senha" %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
  </fieldset>
<% end %>

<br /><br /><br /><br />

<p>Nao é cadastrado? <%= link_to "Clique Aqui!", signup_path %></p>
