<h3><a href="#" rel='nova-versao' style='color:blue'>Cadastrar Nova Versão Para Esta Animação</a></h3>

<div id="nova-versao" style="<%= 'display:none' unless @animation.animation_versions.size.zero? %>">
<%= form_for @animation.animation_versions.build do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :animation_id, :value => @animation.id %>
  
	<div>
		<%= f.label :fla, "*.FLA" %>
		<%= f.file_field :fla %>
		<hr />
		<%= f.label :swf, "*.SWF" %>
		<%= f.file_field :swf %>
		<hr />
	</div>
	
	<div class="formSection" id="formSectionComment">
	  <div class="formLabel">
		  <%= f.label :texto %>
	  </div>
	  <div class="formTextarea">
		  <%= f.text_area :texto, :title=>"Escreva seus comentarios sobre essa versão", :class=>"hint" %>
	  </div>
	</div>
	
<div class="formSubmit" style='text-align:right'>
	<button type="submit" name="submit" id="submit">Cadastrar Versão para esta animação</button>
</div>
  
<% end %>
</div>
