<% title "Degrees" %>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <% for degree in @degrees %>
    <tr>
      <td><%= degree.nome %></td>
      <td><%= link_to "Show", degree %></td>
      <td><%= link_to "Edit", edit_degree_path(degree) %></td>
      <td><%= link_to "Destroy", degree, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Degree", new_degree_path %></p>
