
			<!-- Filtros -->
			
		  <div class="box">
				<h2>Filtros</h2>
				<ul class="cat">
				  <% q_todas = Project.cached_quantidade %>
				  <% q_aulas = Project.cached_quantidade_versionadas %>
          <%= li_filtro(:versioned, nil, "Todas", q_todas) %>
          <%= li_filtro(:versioned, "1", "Apenas Cadastradas", q_aulas) %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Animação</h2>
				<ul class="cat">
				  <% q_animacoes = Project.cached_group_tipo[ProjectVersion::TIPO_ANIMACAO] || 0 %>
          <%= li_filtro(:with_animations, nil, "Todas", q_todas) %>
          <%= li_filtro(:with_animations,
                        "1",
                        "Aulas sem Animação",
                        (q_todas - q_animacoes))
                        %>
          <%= li_filtro(:with_animations,
                        "2",
                        "Aulas com Animação",
                        q_animacoes)
                        %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Áudio</h2>
				<ul class="cat">
				  <% q_recursos = Project.cached_group_tipo[ProjectVersion::TIPO_RECURSO] || 0 %>
          <%= li_filtro(:with_resources, nil, "Todas", q_todas) %>
          <%= li_filtro(:with_resources,
                        "1",
                        "Aulas sem Áudio",
                        (q_todas - q_recursos))
                        %>
          <%= li_filtro(:with_resources,
                        "2",
                        "Aulas com Áudio",
                        q_recursos)
                        %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Enviadas para o Ava</h2>
				<ul class="cat">
          <%= li_filtro(:status_producao, nil, "Todas", q_aulas) %>
          <%= li_filtro(:status_producao,
                        Project::PRODUCAO_NAO.to_s,
                        "Apenas Não Enviadas",
                        Project.cached_group_producao[Project::PRODUCAO_NAO] || 0)
                        %>
          <%= li_filtro(:status_producao,
                        Project::PRODUCAO_SIM.to_s,
                        "Apenas Enviadas",
                        Project.cached_group_producao[Project::PRODUCAO_SIM] || 0)
                        %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Materias</h2>
				<ul class="cat">
          <%= li_filtro(:subject, nil, "Todas", q_aulas) %>
          <% Subject.all_cached.each do |subject| %>
            <%= li_filtro(:subject, subject.id.to_s, subject.nome, Project.cached_group_subject[subject.id]) %>
          <% end %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Series</h2>
				<ul class="cat">
          <%= li_filtro(:degree, nil, "Todas", q_aulas) %>
          <% Degree.all_cached.each do |degree| %>
            <%= li_filtro(:degree, degree.id.to_s, degree.to_s, Project.cached_group_degree[degree.id]) %>
          <% end %>
				</ul>
			</div>
			
			
			
		  <div class="box">
				<h2>Revisao de Audio</h2>
				<ul class="cat">
          <%= li_filtro(:status_revisao_audio, nil, "Todas", q_aulas) %>
          <% Project::REVISOES.each do |texto, codigo| %>
            <%= li_filtro(:status_revisao_audio, codigo.to_s, texto, Project.cached_group_revisao_audio[codigo] || 0) %>
          <% end %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Revisao de Texto</h2>
				<ul class="cat">
          <%= li_filtro(:status_revisao_texto, nil, "Todas", q_aulas) %>
          <% Project::REVISOES.each do |texto, codigo| %>
            <%= li_filtro(:status_revisao_texto, codigo.to_s, texto, Project.cached_group_revisao_texto[codigo] || 0) %>
          <% end %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Revisao de Flash</h2>
				<ul class="cat">
          <%= li_filtro(:status_revisao_final, nil, "Todas", q_aulas) %>
          <% Project::REVISOES.each do |texto, codigo| %>
            <%= li_filtro(:status_revisao_final, codigo.to_s, texto, Project.cached_group_revisao_final[codigo] || 0) %>
          <% end %>
				</ul>
			</div>
			
		  <div class="box">
				<h2>Revisao Metodologica</h2>
				<ul class="cat">
          <%= li_filtro(:status_revisao_metodo, nil, "Todas", q_aulas) %>
          <% Project::REVISOES.each do |texto, codigo| %>
            <%= li_filtro(:status_revisao_metodo, codigo.to_s, texto, Project.cached_group_revisao_metodo[codigo] || 0) %>
          <% end %>
				</ul>
			</div>
			<!-- /Filtros -->
