<div style="width:200px;float:left;">
<h2>Filtro</h2>
<ul class="pagination">
  <%= content_tag :li, :class=>('selected' if params[:versioned]) do %>
    <%= link_to projects_filter_path(:versioned=>1) do %>
      Apenas Cadastradas (<b><%= Project.cached_quantidade_versionadas %></b>)
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>
</div>
<div style="width:380px;float:left;">
<h2>R. Ortográfica</h2>
<ul class="pagination">
  <% Revisao::ARRAY_FOR_SELECT.each do |texto, codigo| %>
    <%= content_tag :li, :class=>('selected' if codigo.to_s == params[:status_revisao_texto]) do %>
      <%= link_to projects_filter_path(:status_revisao_texto=>codigo) do %>
        <%= texto %> (<b><%= Project.cached_group_revisao_texto[codigo] || 0 %></b>)
      <% end %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>
</div>
<div style="width:380px;float:left;">
<h2>R. Animação</h2>
<ul class="pagination">
  <% Revisao::ARRAY_FOR_SELECT.each do |texto, codigo| %>
    <%= content_tag :li, :class=>('selected' if codigo.to_s == params[:status_revisao_final]) do %>
      <%= link_to projects_filter_path(:status_revisao_final=>codigo) do %>
        <%= texto %> (<b><%= Project.cached_group_revisao_final[codigo] || 0 %></b>)
      <% end %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>
</div>

<br style="clear:both" />

<h2>Séries</h2>
<ul class="pagination">
  <% Degree.all_cached.each do |degree| %>
    <%= content_tag :li, :class=>('selected' if degree == @degree) do %>
      <%= link_to projects_filter_path(:degree=>degree.id) do %>
        <%= degree.to_s %> (<b><%= Project.cached_group_degree[degree.id] || 0 %></b>)
      <% end %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>

<h2>Disciplinas</h2>
<ul class="pagination">
  <% Subject.all_cached.each do |subject| %>
    <%= content_tag :li, :class=>('selected' if subject == @subject) do %>
      <%= link_to projects_filter_path(:subject=>subject.id) do %>
        <%= subject.nome %> (<b><%= Project.cached_group_subject[subject.id] || 0 %></b>)
      <% end %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>
<hr />
