<div style="width:250px;float:left;">
<h2>Filtro</h2>
<ul class="pagination">
  <%= content_tag :li, :class=>('selected' if params[:versioned]) do %>
    <%= link_to "Apenas Cadastradas", projects_filter_path(:versioned=>1) %>
  <% end %>
</ul>
<br/><br/><br/>
</div>
<div style="width:355px;float:left;">
<h2>R. Ortografica</h2>
<ul class="pagination">
  <% Revisao::ARRAY_FOR_SELECT.each do |texto, codigo| %>
    <%= content_tag :li, :class=>('selected' if codigo.to_s == params[:status_revisao_texto]) do %>
      <%= link_to texto, projects_filter_path(:status_revisao_texto=>codigo) %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>
</div>
<div style="width:355px;float:left;">
<h2>R. Animacao</h2>
<ul class="pagination">
  <% Revisao::ARRAY_FOR_SELECT.each do |texto, codigo| %>
    <%= content_tag :li, :class=>('selected' if codigo.to_s == params[:status_revisao_final]) do %>
      <%= link_to texto, projects_filter_path(:status_revisao_final=>codigo) %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>
</div>

<br style="clear:both" />

<h2>Séries</h2>
<ul class="pagination">
  <% Degree.all_cached.each do |degree| %>
    <%= content_tag :li, :class=>('selected' if degree == @degree) do %>
      <%= link_to degree.to_s, projects_filter_path(:degree=>degree.id) %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>

<h2>Disciplinas</h2>
<ul class="pagination">
  <% Subject.all_cached.each do |subject| %>
    <%= content_tag :li, :class=>('selected' if subject == @subject) do %>
      <%= link_to subject.nome, projects_filter_path(:subject=>subject.id) %>
    <% end %>
  <% end %>
</ul>
<br/><br/><br/>
<hr />
