<h2>Erros e Revisões</h2>

<% @project.reviews.each do |review| %>
  <div id="review_<%= review.id %>" class="review <%= review_css(review) %>">
    <%= link_to_function "", "$('#review_detalhes_#{review.id}').slideToggle('slow');" unless review.aprovou? %>
    
    <p>
      @<%= review.criou.user.username %>
      <b>criou</b>
      em <%= l review.criou.at, :format=>:short %>
      
      <% if review.corrigiu? %>
        <br/>
        @<%= review.corrigiu.user.username %>
        <b>corrigiu</b>
        em <%= l review.corrigiu.at, :format=>:short %>
      <% end %>
      
      <% if review.revisou? %>
        <br/>
        @<%= review.revisou.user.username %>
        <b>revisou e <%= review.aprovou? ? 'aprovou' : 'reprovou' %></b>
        em <%= l review.revisou.at, :format=>:short %>
      <% end %>
    </p>
    
    <b><%= review.tipo_nome %></b>
    <%= review.texto %>
    <br/>
    
    <%= review_tipo_image_tag(review) %>
    
    <%# CORRIGIU sempre positivo %>
    <%= review_corrigiu_image_tag(review) %>
    
    <%# REVISOU revisado: vazio/corrigido/reprovado %>
    <%= review_revisou_image_tag(review) %>
    
  </div>
  
  <% if current_user.is_revisor? %>
  
  <% unless review.aprovou? %>
    <% if review.precisa_corrigir? %>
      <div id="review_detalhes_<%= review.id %>" class="detalhes corrigir" style="display:none">
        <%= link_to "Marcar como corrigido.", corrigiu_review_path(review), :method=>:post, :class=>'botao_revisao corrigir' %>
        <br class="clear" />
        <br class="clear" />
      </div>
    <% end %>
    
    <% if review.precisa_revisar? %>
      <div id="review_detalhes_<%= review.id %>" class="detalhes revisar" style="display:none">
        <%= link_to "Marcar como aprovado.",      revisou_aprovou_review_path(review), :method=>:post, :class=>'botao_revisao aprovar' %>
        <%= link_to "Marcar como NÃO corrigido.",  revisou_reprovou_review_path(review), :method=>:post, :class=>'botao_revisao reprovar' %>
        <br class="clear" />
        <br class="clear" />
      </div>
    <% end %>
  <% end %>
  
  <% end %>
  
<% end %>

<% if current_user.is_revisor? %>

<%= link_to "Aprovar Áudio!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_AUDIO),
            :class=>'botao_revisao aprovar',
            :method=>:post unless @project.audio_revisado?
            %>
            
<%= link_to "Aprovar Texto!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_TEXTO),
            :class=>'botao_revisao aprovar',
            :method=>:post unless @project.texto_revisado?
            %>
            
<%= link_to "Aprovar Flash!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_FLASH),
            :class=>'botao_revisao aprovar',
            :method=>:post unless @project.flash_revisado?
            %>
<%= link_to "Aprovar Método!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_METODO),
            :class=>'botao_revisao aprovar',
            :method=>:post unless @project.metodo_revisado?
            %>
            
<br class="clear" >

<%= link_to_function "Cadastrar Novo Erro", "$(this).html('');$('#new_review_wrapper').slideToggle('blind');$('#review_texto').focus();", :style=>'float:right' %>
<div id="new_review_wrapper" style="display:none">
  <%= form_for(@project.reviews.build) do |f| %>
    <%= f.hidden_field :project_id %>
    <div class="field">
      <%= f.label :tipo, "Tipo de Erro" %>
      <%= f.select :tipo, Review::TIPOS %>
    </div>
    <div class="field">
      <%= f.text_area :texto, :style=>'height: 40px' %>
    </div>
    <div class="actions" style="text-align:right">
      <%= button_tag "Cadastrar erro para revisão" %>
    </div>
  <% end %>
</div>

<% end %>
