<h1>Aula código absoluto #<%= @project.id %></h1>

<table id="project_show">
  <tbody>
    <tr>
      <td width="400">
      
        <%= image_tag @project.capa.url, :width=>400 %>
        
      </td>
      <td>
      
        <p>
          <strong>Criado por:</strong>
          @<%= @project.user.username %>
        </p>
        <p>
          <strong>Disciplina:</strong>
          <%= @project.subject.nome %>
        </p>
        <p>
          <strong>Serie:</strong>
          <%= @project.degree.to_s %>
        </p>
        <p>
          <strong>Aula Numero:</strong>
          <%= @project.sequencia %> ( <%= link_to 'editar', edit_project_path(@project) %> )
        </p>
        <p>
          <strong>Quant Versoes:</strong>
          <%= @project.versions.size %>
        </p>
        <p>
          <strong>Cadastrar Versao:</strong>
          <a href="#" rel='#nova-versao' style='color:blue'>Cadastrar Nova Versão</a>
        </p>
        
      </td>
    </tr>
  </tbody>
</table>
