<h1>Aula</h1>

<table>
  <thead>
    <tr>
      <td colspan="3" style="font-size:16px;color:#333;text-align:center">
        
        Revisão Ortográfica:
        <%= content_tag :strong, @version_final.revisao_texto %>
        <br />
        
        Revisão Técnica:
        <%= content_tag :strong, @version_final.revisao_final %>
        <br />
        
        Revisão Áudio:
        <%= content_tag :strong, @version_final.revisao_audio %>
        
      </td>
    </tr>
  </thead>
  
  
  
</table>

<table id="project_show">
  <tbody>
    <tr>
      <td rowspan="10">
      
      
        <p>
          <strong>Criado por:</strong>
          @<%= @project.user.username %>
        </p>
        <p>
          <strong>Disciplina:</strong>
          <%= @project.subject.nome %>
        </p>
        <p>
          <strong>Série:</strong>
          <%= @project.degree.to_s %>
        </p>
        <p>
          <strong>Aula Número:</strong>
          <%= @project.sequencia %>
        </p>
        <p>
          <strong>Quant Versões:</strong>
          <%= @project.versions.size %>
        </p>
        <p>
          <strong>Código Absoluto:</strong>
          #<%= @project.id %>
        </p>
        <p>
          <strong>Cadastrar Versão:</strong>
          <a href="#" rel='#nova-versao' style='color:blue'>Cadastrar Nova Versão</a>
        </p>
        <p>
          <strong>Revisão Áudio:</strong>
          <%= @project.revisao_audio %>
        </p>
        <p>
          <strong>Revisao Ortográfica:</strong>
          <%= @project.revisao_texto %>
        </p>
        <p>
          <strong>Revisão Final:</strong>
          <%= @project.revisao_final %>
        </p>
        
      
      </td>
      <td width="400">
        <%= link_to image_tag(@project.capa.url, :width=>400), edit_project_path(@project) %>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= myfile(image_mp3, @version_final.aud1) if @version_final.aud1? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @version_final.aud2) if @version_final.aud2? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @version_final.aud3) if @version_final.aud3? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @version_final.aud4) if @version_final.aud4? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_fla, @version_final.fla) if @version_final.fla? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_swf, @version_final.swf1, swf_path(@version_final.id, 1)) if @version_final.swf1? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_swf, @version_final.swf2, swf_path(@version_final.id, 2)) if @version_final.swf2? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_swf, @version_final.swf3, swf_path(@version_final.id, 3)) if @version_final.swf3? %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_swf, @version_final.swf4, swf_path(@version_final.id, 4)) if @version_final.swf4? %>
      </td>
    </tr>
  </tbody>
</table>
