<h1>Aula</h1>

<table id="project_show">
  <tbody>
    <tr>
      <td width="400">
        <%= link_to image_tag(@project.capa.url, :width=>400), edit_project_path(@project) %>
      </td>
      <td>
      
        <p>
          <strong>Criado por:</strong>
          @<%= @project.user.username %>
        </p>
        <p>
          <strong>Disciplina:</strong>
          <%= @project.subject.nome %>
        </p>
        <p>
          <strong>Série:</strong>
          <%= @project.degree.to_s %>
        </p>
        <p>
          <strong>Aula Número:</strong>
          <%= @project.sequencia %>
        </p>
        <p>
          <strong>Quant Versões:</strong>
          <%= @project.versions.size %>
        </p>
        <p>
          <strong>Código Absoluto:</strong>
          #<%= @project.id %>
        </p>
        <p>
          <strong>Cadastrar Versão:</strong>
          <a href="#" rel='#nova-versao' style='color:blue'>Cadastrar Nova Versão</a>
        </p>
        <p>
          <strong>Revisão Áudio:</strong>
          <%= @project.revisao_audio %>
        </p>
        <p>
          <strong>Revisao Ortográfica:</strong>
          <%= @project.revisao_texto %>
        </p>
        <p>
          <strong>Revisão Final:</strong>
          <%= @project.revisao_final %>
        </p>
        
      </td>
    </tr>
  </tbody>
</table>
