<h1>Aula</h1>

<table>
        <% if false %>
  <thead>
    <tr>
      <td colspan="3" style="font-size:16px;color:#333;text-align:center">
        
        Revisão Ortográfica:
        <%= content_tag :strong, @project.revisao_texto %>
        <br />
        
        Revisão Técnica:
        <%= content_tag :strong, @project.revisao_final %>
        <br />
        
        Revisão Áudio:
        <%= content_tag :strong, @project.revisao_audio %>
        
      </td>
    </tr>
  </thead>
        <% end %>
  
  
  
</table>

<table id="project_show">
  <tbody>
    <tr>
      <td rowspan="11">
      
      
        <p>
          <strong>Criado por:</strong>
          @<%= @project.user.username %>
        </p>
        
        <p>
          <strong>Revisão Áudio:</strong>
          <%= @project.revisao_audio %>
        </p>
        <p>
          <strong>Revisao Ortográfica:</strong>
          <%= @project.revisao_texto %>
        </p>
        <p>
          <strong>Revisão Final:</strong>
          <%= @project.revisao_final %>
        </p>
        
        <h2>Revisões</h2>
        
        <% @project.reviews.each do |review| %>
          <div id="review_<%= review.id %>" class="review <%= review_css(review) %>">
            <%= link_to_function "", "$('#review_detalhes_#{review.id}').slideToggle('slow');" unless review.aprovou? %>
            
            <p>
              @<%= review.criou.user.username %>
              <b>criou</b>
              em <%= l review.criou.user.created_at, :format=>:short %>
              
              <% if review.corrigiu? %>
                <br/>
                @<%= review.corrigiu.user.username %>
                <b>corrigiu</b>
                em <%= l review.corrigiu.user.created_at, :format=>:short %>
              <% end %>
              
              <% if review.revisou? %>
                <br/>
                @<%= review.revisou.user.username %>
                <b>revisou e <%= review.aprovou? ? 'aprovou' : 'reprovou' %></b>
                em <%= l review.revisou.user.created_at, :format=>:short %>
              <% end %>
            </p>
            
            <b><%= review.tipo_nome %></b>
            <%= review.texto %>
            <br/>
            
            <%= review_tipo_image_tag(review) %>
            
            <%# CORRIGIU sempre positivo %>
            <%= review_corrigiu_image_tag(review) %>
            
            <%# REVISOU revisado: corrigido/nao %>
            <%= review_revisou_image_tag(review) %>
            
            
            <%# MAO PRA BAIXO %>
            <%#= image_tag 'http://aux.iconpedia.net/uploads/849989191190195591.png', :width=>32,  :style=>'position:absolute;right:10px;top:10px;' %>
          </div>
          
          <% unless review.aprovou? %>
            <% if review.precisa_corrigir? %>
              <div id="review_detalhes_<%= review.id %>" class="detalhes corrigir" style="display:none">
                <%= link_to "Marcar como corrigido.", corrigiu_review_path(review), :method=>:post, :class=>'corrigir' %>
                <br class="clear" />
                <br class="clear" />
              </div>
            <% end %>
            
            <% if review.precisa_revisar? %>
              <div id="review_detalhes_<%= review.id %>" class="detalhes revisar" style="display:none">
                <%= link_to "Marcar como aprovado.",      revisou_aprovou_review_path(review), :method=>:post, :class=>'aprovar' %>
                <%= link_to "Marcar como NÃO corrigido.",  revisou_reprovou_review_path(review), :method=>:post, :class=>'reprovar' %>
                <br class="clear" />
                <br class="clear" />
              </div>
            <% end %>
          <% end %>
          
        <% end %>
        
        <%= render 'review_new' %>
        
        
      </td>
      <td width="400">
        <%= link_to image_tag(@project.capa.url, :width=>400), edit_project_path(@project) %>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= @project.subject.nome %>
        /
        <%= @project.degree.to_s %>
        /
        <%= @project.nome %>
        <br />
        
        Código Absoluto:
        <strong>#<%= @project.id %></strong>
        (<%= @project.versions.size %> Versões)
        <br />
        
        <strong>Cadastrar Versão:</strong>
        <a href="#" rel='#nova-versao'>Cadastrar Nova Versão</a>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud1).aud1) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud2).aud2) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud3).aud3) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud4).aud4) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_fla, @project.versao_final(:fla).fla) %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf1) %>
        <%= myfile(image_swf, v.swf1, swf_path(v.id, 1)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf2) %>
        <%= myfile(image_swf, v.swf2, swf_path(v.id, 2)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf3) %>
        <%= myfile(image_swf, v.swf3, swf_path(v.id, 3)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf4) %>
        <%= myfile(image_swf, v.swf4, swf_path(v.id, 4)) if v.id? %>
      </td>
    </tr>
  </tbody>
</table>
