<h1>Aula</h1>

<table id="project_show">
  <tbody>
    <tr>
      <td rowspan="11">
        <%= render 'project_reviews' %>
      </td>
      <td width="400">
        <%= link_to image_tag(@project.capa.url, :width=>400), edit_project_path(@project) %>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= @project.subject.nome %>
        /
        <%= @project.degree.to_s %>
        /
        <%= @project.nome %>
        <br />
        
        Código Absoluto:
        <strong>#<%= @project.id %></strong>
        (<%= @project.versions.size %> Versões)
        <br />
        <br />
        
        <div style="font-size:16px;color:#333;margin-bottom:20px;">
          
          Revisão Ortográfica..:
          <%= content_tag :strong, @project.revisao_texto %>
          <br />
          
          Revisão Animação...:
          <%= content_tag :strong, @project.revisao_final %>
          <br />
          
          Revisão Áudio..........:
          <%= content_tag :strong, @project.revisao_audio %>
          <br />
          
          Enviado para o Ava..:
          <%= content_tag :strong, @project.producao? ? 'ENVIADO' : 'NÃO ENVIADO' %>
          
        </div>
        <% if @project.revisado? %>
          <div style="text-align:right;">
            <%= form_for @project do |f| %>
              <%= select :project, :status_producao, Project::PRODUCAO_ARRAY, {}, :style=>'padding:8px' %>
              <%= button_tag "Salvar", :style=>'padding:5px' %>
            <% end %>
          </div>
        <% else %>
          <h3 style='color:green'>Conclua as revisões antes de cadastrar a aula no Ava.</h3>
        <% end %>
        <br />
        <br />
        <strong>Cadastrar Versão:</strong>
        <a href="#" rel='#nova-versao'>Cadastrar Nova Versão</a>
        
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud1).aud1) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud2).aud2) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud3).aud3) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud4).aud4) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_fla, @project.versao_final(:fla).fla) %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf1) %>
        <%= myfile(image_swf, v.swf1, swf_path(v.id, 1)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf2) %>
        <%= myfile(image_swf, v.swf2, swf_path(v.id, 2)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf3) %>
        <%= myfile(image_swf, v.swf3, swf_path(v.id, 3)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf4) %>
        <%= myfile(image_swf, v.swf4, swf_path(v.id, 4)) if v.id? %>
      </td>
    </tr>
  </tbody>
</table>
