<h2>Erros e Revisões</h2>

<% @project.reviews.each do |review| %>
  <div id="review_<%= review.id %>" class="<%= review_css(review) %>">
    
    <p>
      @<%= review.criou.user.username %>
      <b>criou</b>
      em <%= l review.criou.at, :format=>:short %>
      
      <% if review.corrigiu? %>
        <br/>
        @<%= review.corrigiu.user.username %>
        <b>corrigiu</b>
        em <%= l review.corrigiu.at, :format=>:short %>
      <% end %>
      
      <% if review.revisou? %>
        <br/>
        @<%= review.revisou.user.username %>
        <b>revisou e <%= review.aprovou? ? 'aprovou' : 'reprovou' %></b>
        em <%= l review.revisou.at, :format=>:short %>
      <% end %>
      
      <br/>
      <b><%= review.tipo_nome %></b>
      <%= review.texto %>
    </p>
    
    <%= review_tipo_image_tag(review) %>
    
    <%# CORRIGIU sempre positivo %>
    <%= review_corrigiu_image_tag(review) %>
    
    <%# REVISOU revisado: vazio/corrigido/reprovado %>
    <%= review_revisou_image_tag(review) %>
    
    
    <% if current_user.is_revisor? %>
    
      <% unless review.aprovou? %>
        <% if review.precisa_corrigir? %>
          <%= link_to 'marcar corrigido',
                      corrigiu_review_path(review),
                      :method=>:post,
                      :confirm=>"Tem certeza?",
                      :class=>'botao_revisao corrigir'
                      %>
        <% end %>
      <% end %>
      
      
      <% if review.precisa_revisar? %>
        <%= link_to 'marcar aprovado',
                    revisou_aprovou_review_path(review),
                    :method=>:post,
                    :confirm=>"Tem certeza?",
                    :class=>'botao_revisao aprovar'
                    %>
        <%= link_to 'marcar reprovado',
                    revisou_reprovou_review_path(review),
                    :method=>:post,
                    :confirm=>"Tem certeza?",
                    :class=>'botao_revisao reprovar'
                    %>
      <% end %>
    <% end %>
    
    
  </div>
  
<% end %>

<% if current_user.is_revisor? %>

<div class="revisao_objetiva">
<%= link_to "Aprovar Áudio!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_AUDIO),
            :class=>'botao_revisao aprovar',
            :confirm=>"Tem certeza?",
            :method=>:post unless @project.audio_revisado?
            %>
            
<%= link_to "Aprovar Texto!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_TEXTO),
            :class=>'botao_revisao aprovar',
            :confirm=>"Tem certeza?",
            :method=>:post unless @project.texto_revisado?
            %>
            
<%= link_to "Aprovar Flash!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_FLASH),
            :class=>'botao_revisao aprovar',
            :confirm=>"Tem certeza?",
            :method=>:post unless @project.flash_revisado?
            %>
<%= link_to "Aprovar Metodologia!",
            create_aprovado_reviews_path(:project_id=>@project.id, :tipo=>Review::TIPO_METODO),
            :class=>'botao_revisao aprovar',
            :confirm=>"Tem certeza?",
            :method=>:post unless @project.metodo_revisado?
            %>
            
<br class="clear" >

<%= link_to_function "Cadastrar Novo Erro", "$(this).html('');$('#new_review_wrapper').slideToggle('blind');$('#review_texto').focus();", :style=>'float:right' %>
<div id="new_review_wrapper" style="display:none">
  <%= form_for(@project.reviews.build) do |f| %>
    <%= f.hidden_field :project_id %>
    <div class="field">
      <%= f.label :tipo, "Tipo de Erro" %>
      <%= f.select :tipo, Review::TIPOS %>
    </div>
    <div class="field">
      <%= f.text_area :texto, :style=>'height: 40px' %>
    </div>
    <div class="actions" style="text-align:right">
      <%= button_tag "Cadastrar erro para revisão" %>
    </div>
  <% end %>
</div>

<% end %>
