<h1>Aula</h1>

<table>
  <thead>
    <tr>
      <td colspan="3" style="font-size:16px;color:#333;text-align:center">
        
        Revisão Ortográfica:
        <%= content_tag :strong, @project.revisao_texto %>
        <br />
        
        Revisão Técnica:
        <%= content_tag :strong, @project.revisao_final %>
        <br />
        
        Revisão Áudio:
        <%= content_tag :strong, @project.revisao_audio %>
        
      </td>
    </tr>
  </thead>
  
  
  
</table>

<table id="project_show">
  <tbody>
    <tr>
      <td rowspan="10">
      
      
        <p>
          <strong>Criado por:</strong>
          @<%= @project.user.username %>
        </p>
        <p>
          <strong>Disciplina:</strong>
          <%= @project.subject.nome %>
        </p>
        <p>
          <strong>Série:</strong>
          <%= @project.degree.to_s %>
        </p>
        <p>
          <strong>Aula Número:</strong>
          <%= @project.sequencia %>
        </p>
        <p>
          <strong>Quant Versões:</strong>
          <%= @project.versions.size %>
        </p>
        <p>
          <strong>Código Absoluto:</strong>
          #<%= @project.id %>
        </p>
        <p>
          <strong>Cadastrar Versão:</strong>
          <a href="#" rel='#nova-versao' style='color:blue'>Cadastrar Nova Versão</a>
        </p>
        <p>
          <strong>Revisão Áudio:</strong>
          <%= @project.revisao_audio %>
        </p>
        <p>
          <strong>Revisao Ortográfica:</strong>
          <%= @project.revisao_texto %>
        </p>
        <p>
          <strong>Revisão Final:</strong>
          <%= @project.revisao_final %>
        </p>
        
      
      </td>
      <td width="400">
        <%= link_to image_tag(@project.capa.url, :width=>400), edit_project_path(@project) %>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud1).aud1) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud2).aud2) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud3).aud3) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_mp3, @project.versao_final(:aud4).aud4) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= myfile(image_fla, @project.versao_final(:fla).fla) %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf1) %>
        <%= myfile(image_swf, v.swf1, swf_path(v.id, 1)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf2) %>
        <%= myfile(image_swf, v.swf2, swf_path(v.id, 2)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf3) %>
        <%= myfile(image_swf, v.swf3, swf_path(v.id, 3)) if v.id? %>
      </td>
    </tr>
    <tr>
      <td>
        <% v = @project.versao_final(:swf4) %>
        <%= myfile(image_swf, v.swf4, swf_path(v.id, 4)) if v.id? %>
      </td>
    </tr>
  </tbody>
</table>
