<% if current_user.is_cadastrador? %>
  <div class="versao">
    <h2>Nova Versao</h2>
    <%= render 'project_versions/new' %>
  </div>
<% end %>

<% unless @project.versions.empty? %>
  <h2 style='text-align:center;margin-top:200px'>Versões dessa Aula</h2>
  
  <% i = @project.versions.length+1 %>
  <% @project.versions.includes(:user).reverse.each do |v| %>
  
  <div class="versao">
    
    <h2>v. <%= i-=1 %></h2>
    
    <table>
      <tbody>
        <tr>
          <td width="30%">
          </td>
          <td width="30%">
            <%= myfile(image_fla, v.fla) if v.fla? %>
          </td>
          <td rowspan="5" style="vertical-align:bottom;width:40%">
          
            <h3 style='text-align:right'>v. <%= i %></h3>
            <h2>@<%= v.user.username.upcase %></h2>
            
            <blockquote><%= v.texto %></blockquote>
            
            <h3 style='text-align:right'><%= raw l(v.created_at).gsub(',', '<br/>') %></h3>
            
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud1) if v.aud1? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf1, swf_path(v.id, 1)) if v.swf1? %>
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud2) if v.aud2? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf2, swf_path(v.id, 2)) if v.swf2? %>
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud3) if v.aud3? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf3, swf_path(v.id, 3)) if v.swf3? %>
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud4) if v.aud4? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf4, swf_path(v.id, 4)) if v.swf4? %>
          </td>
        </tr>
      
      </tbody>
    </table>
    
  </div>
  <% end %>
      
  
<% else %>
  <h3 style='color:red'>Não existe nenhuma versão cadastrada para essa Aula</h3>
<% end %>
