<% unless @project.versions.size.zero? %>
  <h2>Versões dessa Aula</h2>
  <table id="project_show">
    <thead>
      <tr>
        <td colspan="4" id="player">
        </td>
      </tr>
    </thead>
    <tbody>
      <% i = @project.versions.length+1 %>
      <% for version in @project.versions.includes(:user).reverse %>
        <tr>
          <td colspan="4">
            <b style="font-size:20px">-- VERSAO #<%= i-=1 %> @<%= version.user.username %></b>
            
            Revisao Ortografica:
            <%= content_tag :strong, version.revisao_texto %>
            
            Revisao Final:
            <%= content_tag :strong, version.revisao_final %>
          </td>
        </tr>
        <tr>
          <td colspan="4" style="vertical-align:middle">
            <%= link_to version.fla.url do %>
              <%= image_tag('verso/Fla-32.png') %>
              <%= number_to_human_size version.fla.size %>
            <% end %>
            <%= version.fla.original_filename %>
          </td>
        </tr>
        <tr>
          <td>
            <%= swf version.swf1 if version.swf1? %>
          </td>
          <td>
            <%= swf version.swf2 if version.swf2? %>
          </td>
          <td>
            <%= swf version.swf3 if version.swf3? %>
          </td>
          <td>
            <%= swf version.swf4 if version.swf4? %>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <blockquote>
              <%= l version.created_at %> —</cite> <%= version.texto %>.
            </blockquote>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="actions">
            <% if @project.versions.last == version && current_user.is_revisao? %>
              <%= form_for version do |f| %>
              
                <% if current_user.is_revisao_texto %>
                  <%= label_tag :a, "Revisao Ortografica" %>
                  <%= select :project_version, :status_revisao_texto, Revisao::ARRAY_FOR_SELECT, :selected=>version.status_revisao_texto %>
                  <%=  %>
                <% end %>
                
                <% if current_user.is_revisao_final %>
                  <%= label_tag :a, "Revisao Final" %>
                  <%= select :project_version, :status_revisao_final, Revisao::ARRAY_FOR_SELECT, :selected=>version.status_revisao_final %>
                <% end %>
                
                <%= submit_tag :salvar %>
                
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<% else %>
  <h3 style='color:red'>Não existe nenhuma versão cadastrada para essa Aula</h3>
<% end %>



          <% if false %>
            <h3> -- Versao #<%= i-=1 %> -- </h3>
            
            <p>
              
              <%= link_to image_tag('verso/Swf-32.png'), version.swf1.url %>
              <%= number_to_human_size version.swf1.size %>
            </p>
            <p>
              <a href='#' rel='swf'>ampliar/reduzir</a>
            </p>
          <% end %>
