<% unless @project.versions.size.zero? %>
  <h2 style='text-align:center'>Versões dessa Aula</h2>
  <div id="player">
  </div>
  
  <% i = @project.versions.length+1 %>
  <% @project.versions.includes(:user).reverse.each do |v| %>
  
  <div class="versao">
    
    <h2>v. <%= i-=1 %></h2>
    
    <table>
      <thead>
        <tr>
          <td colspan="3" style="font-size:16px;color:#333;text-align:center">
            
            Revisão Ortográfica:
            <%= content_tag :strong, v.revisao_texto %>
            <br />
            
            Revisão Técnica:
            <%= content_tag :strong, v.revisao_final %>
            <br />
            
            Revisão Áudio:
            <%= content_tag :strong, v.revisao_audio %>
            
          </td>
        </tr>
      </thead>
      <% if @project.versions.last == v && current_user.is_revisao? %>
      <tfoot>
        <tr>
          <td colspan="3" class="actions">
          
              <%= form_for v do |f| %>
              
                <% if current_user.is_revisao_audio? %>
                  <%= label_tag :a, "Revisão Áudio" %>
                  <%= select :project_version, :status_revisao_audio, Revisao::AUDIO_FOR_SELECT, :selected=>v.status_revisao_audio %>
                <% end %>
                
                <% if current_user.is_revisao_texto? %>
                  <%= label_tag :a, "Revisão Ortográfica" %>
                  <%= select :project_version, :status_revisao_texto, Revisao::ARRAY_FOR_SELECT, :selected=>v.status_revisao_texto %>
                  <%=  %>
                <% end %>
                
                <% if current_user.is_revisao_final? %>
                  <%= label_tag :a, "Revisão Final" %>
                  <%= select :project_version, :status_revisao_final, Revisao::ARRAY_FOR_SELECT, :selected=>v.status_revisao_final %>
                <% end %>
                
                <%= submit_tag :salvar %>
                
              <% end %>
              
          </td>
        </tr>
      </tfoot>
      <% end %>
      <tbody>
        <tr>
          <td width="30%">
          </td>
          <td width="30%">
            <%= myfile(image_fla, v.fla) if v.fla? %>
          </td>
          <td rowspan="5" style="vertical-align:bottom;width:40%">
          
            <h3 style='text-align:right'>v. <%= i %></h3>
            <h2>@<%= v.user.username.upcase %></h2>
            
            <blockquote><%= v.texto %></blockquote>
            
            <h3 style='text-align:right'><%= raw l(v.created_at).gsub(',', '<br/>') %></h3>
            
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud1) if v.aud1? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf1, swf_path(v.id, 1)) if v.swf1? %>
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud2) if v.aud2? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf2, swf_path(v.id, 2)) if v.swf2? %>
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud3) if v.aud3? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf3, swf_path(v.id, 3)) if v.swf3? %>
          </td>
        </tr>
        <tr>
          <td>
            <%= myfile(image_mp3, v.aud4) if v.aud4? %>
          </td>
          <td>
            <%= myfile(image_swf, v.swf4, swf_path(v.id, 4)) if v.swf4? %>
          </td>
        </tr>
      
      </tbody>
    </table>
    
  </div>
  <% end %>
      
  
<% else %>
  <h3 style='color:red'>Não existe nenhuma versão cadastrada para essa Aula</h3>
<% end %>
