<%= content_for :sidebar, render('filters') %>

<h2 class="title"><a href="#">Listando Aulas</a></h2>
<h3>Exibindo <%= @projects.size %> de <%= @projects_count %> Aulas encontadas nesta pesquisa</h3>
<br class="clear" />

<%= pagination = paginate @projects, :window => 10, :outer_window => -1 %>

<ul id="gallery">
  <% @projects.each do |project| %>
		<li>
		  <%= link_to image_tag(project.capa.url, :width=>196, :height=>144), project %>
			<div>
				<h3><%= project.nome_completo %></h3>
				<p>(<%= project.versions.size %> versões)</p>
			</div>
		</li>
  <% end %>
</ul>

<br class="clear" />

<%= pagination %>

<br class="clear" />

<p><%= link_to "Cadastrar Aula", new_project_path(:subject=>params[:subject], :degree=>params[:degree]) %></p>

