<%= content_for :sidebar, render('filters') %>


        <% if false %>
	
				
				<div class="hr"></div>
				
				<ul id="gallery">
				<% 10.times do %>
					<li>
						<a rel="prettyPhoto[gallery]" href="/assets/aspire/page/entries/lightbox1.jpg"><img src="/assets/aspire/page/entries/avatar01.jpg" alt="image"/></a>
						<div>
							<h3>Portugues, 2o Ano, Aula 3</h3>
							<p>(2 versões)</p>
						</div>
					</li>
				<% end %>
				</ul>
				
        <% end %>
				


<h2 class="title"><a href="#">Listando Aulas</a></h2>
<h3>Resultados: <%= @projects.length %> Aula(s)</h3>
<br class="clear" />

<ul id="gallery">
  <% @projects.each do |project| %>
		<li>
		  <%= link_to image_tag(project.capa.url, :width=>196, :height=>144), project %>
			<div>
				<h3><%= project.nome_completo %></h3>
				<p>(<%= project.versions.size %> versões)</p>
			</div>
		</li>
  <% end %>
</ul>

<br class="clear" />

<p><%= link_to "Cadastrar Aula", new_project_path(:subject=>params[:subject], :degree=>params[:degree]) %></p>

