<%= content_for :sidebar do %>

  <div class="box">
		<h2>Usuários</h2>
		<ul class="cat">
		  <li class="<%= 'selected' unless params.has_key?(:user_ids) %>">
		    <%= link_to "Todos", relatorio_projects_path %>
		  </li>
		  <% User.order('username').each do |user| %>
		    <%= li_filtro_relatorio_uploads(user) %>
		  <% end %>
		</ul>
	</div>

<% end %>

<table class="verso">
  <thead>
    <tr>
      <th>Qtd</th>
      <th>Uniq</th>
      <th>Data</th>
      <th>hora</th>
      <th>@</th>
      <th>Aula</th>
      <th>Versão</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <% data_atual = nil %>
    <% aula_atual = nil %>
    <% user_atual = nil %>
    <% @pvs_by_date.each do |date, pvs| %>
      <% pvs.each do |v| %>
      <tr>
        <td>
          <%= pvs.size unless data_atual == date %>
        </td>
        <td>
          <%= pvs.map(&:project_id).uniq.size unless data_atual == date %>
        </td>
        <td style="text-align:right">
          <% unless data_atual == date %>
            <%= "SAB -" if date.saturday? %>
            <%= l date %>
          <% end %>
          <% data_atual = date %>
        </td>
        <td>
          <%= v.created_at.strftime("%H:%M:%S") %>
        </td>
        <td>
          <%= link_to v.user.u_, relatorio_projects_path(:user_ids=>[v.user_id]) unless user_atual == v.user %>
          <% user_atual = v.user %>
        </td>
        <td>
          <%= link_to raw(v.project.nome_completo.split(',').join('<br />')), v.project unless aula_atual == v.project_id %>
          <% aula_atual = v.project_id %>
        </td>
        <td>
          <b>v.<%= v.sequencia %></b>
        </td>
        <td>
          <b><%= v.tipo == ProjectVersion::TIPO_ANIMACAO ? image_swf(:width=>16) : image_mp3(:width=>16) %></b>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
