%table{:height=>400}
  %tr
    %td{:width=>250}
      %b= "As ferramentas usadas eram:"
      %ul
        %li= "- SVN"
        %li= "- EMAIL"
        %li= "- Pastas na REDE"
        %li= "- Arquivos EXCEL"
      %br
      %br
      %br
      %b= "Não havia um padrão claro e definido de trabalho, e isso gerava muita discussão pois ocasionalmente alguém perdia um arquivo, ou criava outros problemas ao tentar fazer uma correção numa animação"
        
    %td{:width=>180}
      = image_tag '/history/v1.0/svn1.png', :width=>150
      = image_tag '/history/v1.0/arquivos_soltos.jpg', :width=>150
      = image_tag '/history/v1.0/svn2.jpg', :width=>150
    %td{:width=>50}
      = image_tag '/history/seta_direita.png', :style=>'margin-top:150px'
    %td{:width=>180}
      = image_tag '/history/v1.0/v1.0.png', :width=>150
      = image_tag '/history/v1.0/arquivos_sem_tempo.png', :width=>150
      
    %td{:width=>250, :style=>'padding-bottom:150px'}
      %br
      %br
      %br
      %br
      %br
      %br
      %b= "A proposta da versão 1.0 foi muito simples"
      %br
      %br
      %ul
        %li= "- Centralizar os arquivos"
        %li= raw "- Anotar <b>QUEM</b> mudou <b>O QUÊ</b>"
        %li= "- e exibir o histórico no navegador"
