%table{:height=>400}
  %tr
    %td{:width=>250, :style=>'padding-left:250px;padding-top:100px'}
      = image_tag '/history/v1.1/revisoes1.jpg', :width=>150
      
    %td{:width=>250, :style=>'padding-top:70px'}
      %b= "Na versão 1.1, foram implantadas revisões no sistema"
      %ul
        %li= "- ORTOGRAFICAS"
        %li= "- DE ÁUDIO"
        %li= "- DE ANIMAÇÃO"
      %br
      %br
      %br
      %b= "Alguns usuários possuiam permissões especiais para marcar aulas que precisavam ser revisadas"
