%table{:height=>400}
  %tr
    %td
    %td{:width=>50}
    %td{:width=>250}
      %b= "Rotinas de backup na versão 1.2"
      %br
      %br
      %ul
        %li= "- Muito simples e rápido de executar"
        %li= "- arquivos e o banco de dados"
        %li= raw "- compacta em <b>.ZIP</b>"
        
      
    %td{:width=>250}
      = image_tag '/history/v1.2/backup1.jpg', :width=>150
  %tr
    %td
      = image_tag '/history/v1.2/upload_sem_audio.png', :width=>200
        
      
    %td
      = image_tag '/history/seta_direita.png', :style=>'margin-top:50px'
    %td
      = image_tag '/history/v1.2/upload_com_audio.png', :width=>200
    %td{:style=>'padding-top:50px;font-size:16px'}
      %b= "Gerindo arquivos de Audio na versão 1.2"
      %br
      %br
      %ul
        %li= "- Igualmente simples"
        %li= "- incluso no backup"
