<% content_for :jsload do %>
$("a[rel='swf']").click(function() {
  $('#player').html( $(this).data('swf-content') );
  return false;
});

$("a[rel='#nova-versao']").overlay();

$("form#new_project_version").submit(function() {
  if ($("#project_version_texto").val().length < 5)
  {
    alert("Preencha um comentário");
    $("#project_version_texto").focus();
    return false;
  }
});
<% end %>
<style>
</style>

<%= form_for @project_version do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :project_id %>
  
  <table id="cadastro_versoes">
    <tbody>
    
      <tr>
        <td width="300">
        </td>
        <td width="300">
          <%= myupload(f, :fla, image_fla, "Fontes *.FLA") %>
        </td>
        <td width="400" rowspan="5" style="vertical-align:bottom">
        
          <h2 style='text-align:center'>@<%= current_user.username.upcase %></h2>
          <h3><%= f.label :texto, "Comentários Sobre Cadastro/Alteração" %></h3>
          <%= f.text_area :texto, :title=>"Escreva seus comentarios sobre essa versão da aula", :class=>"hint" %>
          
        </td>
      </tr>
      
      <tr>
        <td>
          <%= myupload(f, :aud1, image_mp3, "CENA 1 *.MP3") %>
        </td>
        <td>
          <%= myupload(f, :swf1, image_swf, "CENA 1 *.SWF") %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= myupload(f, :aud2, image_mp3, "CENA 2 *.MP3") %>
        </td>
        <td>
          <%= myupload(f, :swf2, image_swf, "CENA 2 *.SWF") %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= myupload(f, :aud3, image_mp3, "CENA 3 *.MP3") %>
        </td>
        <td>
          <%= myupload(f, :swf3, image_swf, "CENA 3 *.SWF") %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= myupload(f, :aud4, image_mp3, "CENA 4 *.MP3") %>
        </td>
        <td>
          <%= myupload(f, :swf4, image_swf, "CENA 4 *.SWF") %>
        </td>
      </tr>
      
    </tbody>
  </table>
  
  <div class="formSubmit" style='text-align:right'>
  
    <span class="c" style="font-size:36px;">
      <%= @project_version.project.subject.nome %>
      /
      <%= @project_version.project.degree.to_s %>
      /
      <%= @project_version.project.sequencia %>a Aula
    </span>
    <button type="submit" name="submit" id="submit">Cadastrar Versão para esta Aula</button>
  </div>
  
<% end %>
