<h1>Listing project_versions</h1>

<table>
  <tr>
    <th>Project</th>
    <th>User</th>
    <th>Texto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_versions.each do |project_version| %>
  <tr>
    <td><%= project_version.project %></td>
    <td><%= project_version.user %></td>
    <td><%= project_version.texto %></td>
    <td><%= link_to 'Show', project_version %></td>
    <td><%= link_to 'Edit', edit_project_version_path(project_version) %></td>
    <td><%= link_to 'Destroy', project_version, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project version', new_project_version_path %>
