<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Criou user</th>
    <th>Criou created at</th>
    <th>Criou texto</th>
    <th>Corrigiu user</th>
    <th>Corrigiu created at</th>
    <th>Corrigiu texto</th>
    <th>Revisou user</th>
    <th>Revisou created at</th>
    <th>Revisou texto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.project %></td>
    <td><%= review.criou_user_id %></td>
    <td><%= review.criou_created_at %></td>
    <td><%= review.criou_texto %></td>
    <td><%= review.corrigiu_user_id %></td>
    <td><%= review.corrigiu_created_at %></td>
    <td><%= review.corrigiu_texto %></td>
    <td><%= review.revisou_user_id %></td>
    <td><%= review.revisou_created_at %></td>
    <td><%= review.revisou_texto %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %>
