<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Logos Educação - Verso" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "/javascripts/avenir.js" %>
    <link rel="icon" type="image/x-icon" href="/assets/verso/favicon.png" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/assets/aspire/DD_belatedPNG_0.0.8a-min.js"></script> 
    <script>
      DD_belatedPNG.fix('img, .social li a, #intro');
    </script>
    <![endif]-->
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="sub_no_cap">
  
  
	
	
	<!-- Container -->
	<div id="container">
		<!-- Header -->
		<div id="header">
			<div class="logo">
    		<%= link_to root_path(:versioned=>1) do %>
				  <img src="/assets/verso/logo.png" alt="image" width="110" />
				<% end %>
			</div>
			
			<ul class="sf-menu">
        <% if current_user %>
      
        <li><%= link_to 'aguardando enviar para o ava', projects_path(:status_revisao_texto=>Project::REVISAO_APROVADO,
                                                                      :status_revisao_final=>Project::REVISAO_APROVADO,
                                                                      :status_revisao_audio=>Project::REVISAO_APROVADO,
                                                                      :status_revisao_audio=>Project::REVISAO_APROVADO,
                                                                      :status_producao=>Project::PRODUCAO_NAO
                                                                      ) %></li>
  			<li><%= link_to 'ver todas as aulas', projects_path %></li>
        <li><%= link_to current_user.username, edit_current_user_path %></li>
        <li class="current"><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Cadastro", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
		</ul>
		
		</div>
		<!-- </Header -->
		
		
		<!-- Page -->
		<div id="page" class="<%= yield :page_css %>">
		
      <%= content_tag :h2, yield(:title) if show_title? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "flash #{name}" %>
      <% end %>
      <%= yield %>
      
		</div>
		<!-- </Page -->
		
		<!-- Sidebar -->
		<div id="sidebar">
			<%= yield :sidebar %>
		</div>
		<!-- </Sidebar -->

	</div>
	<!-- </Container -->
	

	<% if Rails.env.development? %>
  	<br class="clear" />
  	<h2>params</h2>
	  <%= params %>
	<% end %>
	
	
	
	
	<!-- Footer -->
	<div id="footer">
		<div class="inner">
			
			<div class="copyright">
    		<p class="copyright">&copy; 2011 Logos Educacao. Sistema VERSO.</p>
    		<p class="">Desenvolvimento: <%= link_to "Thiago Almeida", "http://yakkoprofile.herokuapp.com/" %></p>
			</div>
			
			<ul class="quick_links">
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<!-- </Footer -->
	
	
	
	
<script type="text/javascript">

$(function() {
	$('body')
	  .addClass('<%= controller.controller_name %> <%= controller.action_name %>')
	  .addClass('<%= Rails.env.production? ? "red" : "white" %>');
  <%= yield :jsload %>
});
  
</script>
  </body>
</html>
