<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Logos Educação - Verso" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
	  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/javascripts/style_ie8.css"><![endif]-->
	  <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/javascripts/style_ie7.css"><![endif]-->
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <% if Rails.env.development? %>
    <style>
    #header { background: #080; }
    </style>
    <% end %>
  </head>
  <body class="jsDisabled">
  <script type="text/javascript">$('body').removeClass('jsDisabled');</script>
  
<div id="header" class="clearfix">
	
	<div class="holder clearfix">
	
		<div class="skipLink"><a href="#content" title="Skip to content">Skip to content</a></div>
		
		<div id="title"><span>
		<%= link_to 'VERSO', root_path(:versioned=>1) %>
		</span></div>
		
		<ul id="siteNav">
      <% if current_user %>
  			<li><%= link_to 'ver todas as aulas', projects_path %></li>
        <li><%= link_to current_user.username, edit_current_user_path %></li>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Cadastro", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
		</ul>

	</div>
  
</div><!-- #header -->
    

<div id="wrapper">

	<div id="main" class="clearfix">
		
		  <%= content_tag :h1, yield(:title) if show_title? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
      <%= yield %>
      
    <% if false %>
		<div class="mainCol">
		</div>
		
		<div class="sidebarCol">
		  <%= render('/sidebar_col') %>
		</div>
		<% end %>
		
	</div><!-- #main -->

	<div id="footer">
	
		<p class="copyright">&copy; 2011 Logos Educacao. Sistema VERSO.</p>
		<ul>
			<li>Desenvolvimento: <%= link_to "Thiago Almeida", "http://yakkoprofile.herokuapp.com/" %>.</li>
		</ul>
	</div><!-- #footer -->
	
	<% if Rails.env.development? %>
  	<h2>params</h2>
	  <%= params %>
	<% end %>
	
</div><!-- #wrapper -->

<script type="text/javascript">

	// apply cufon & force a redraw for IE
	Cufon.now(); document.body.className = '<%= controller.controller_name %> <%= controller.action_name %>';
$(function() {
  <%= yield :jsload %>
});
  
</script>
  </body>
</html>
